<script>
import { ref } from "vue";
import FrameProFile from "@/components/FrameProFile.vue";
export default {
  data: () => ({
    show: false,
    schoolList: [
      {
        name: "Elementary School",
        school: "Mary Vitthaya Kabin Buri School",
        timeline: "2009-2015",
      },
      {
        name: "Junior High School",
        school: "Prachinratsadorn Amroong School",
        timeline: "2016-2018",
      },
      {
        name: "Senior High School",
        school: "Prachinratsadorn Amroong School",
        timeline: "2018-2021",
      },
    ],
    messages: [
      {
        from: "XD4KING",
        color: "deep-purple-lighten-1",
      },
      {
        from: "connect 103.22.181.136:30121",
        color: "green",
      },
      {
        from: "https://discord.gg/BY6sgM5AMk",
        color: "deep-purple-lighten-1",
      },
    ],
    music: [
      {
        from: "GEE-HOY",
        color: "deep-purple-lighten-1",
      },
      {
        from: "48,060,300 views",
        color: "green",
      },
      {
        from: "https://www.youtube.com/watch?v=Jd4Hd-HFgls",
        color: "deep-purple-lighten-1",
      },
    ],
  }),
};
</script>

<template>
  <v-container>
    <v-row>
      <v-col>
        <v-card class="mx-auto" max-width="100%">
          <v-img
            src="https://lumiere-a.akamaihd.net/v1/images/sa_pixar_virtualbg_toystory_16x9_8461039f.jpeg"
            height="200px"
            cover
          ></v-img>

          <v-card-title> PORTFOLIO </v-card-title>

          <v-card-subtitle> About Me </v-card-subtitle>

          <v-card-actions>
            <v-btn
              @click="show = !show"
              color="orange-lighten-2"
              variant="text"
            >
              Explore
            </v-btn>

            <v-spacer></v-spacer>

            <v-btn :icon="show ? 'mdi-chevron-up' : 'mdi-chevron-down'"></v-btn>
          </v-card-actions>

          <v-expand-transition>
            <div v-show="show">
              <v-divider></v-divider>

              <v-card-text>
                <center>
                  <v-avatar size="200">
                    <v-img
                      src="https://media.discordapp.net/attachments/968412020451995658/1052906344862199819/IMG_2588.jpg?width=485&height=670"
                      cover
                    ></v-img>
                  </v-avatar>
                </center>
                <br />
                <br />
                <br />
                <div class="text mt-2">Name : Tanisorn</div>
                <div class="text mt-2">Surname : Tuckthai</div>
                <div class="text mt-2">Nickname : Baitong</div>
                <div class="text mt-2">Age : 20 year old</div>
                <div class="text mt-2">Gender : Male</div>
                <div class="text mt-2">Data of Birth : 6 August 2002</div>
                <div class="text mt-2">Weight : 78 Kg.</div>
                <div class="text mt-2">Height : 182 Cm.</div>
              </v-card-text>
            </div>
          </v-expand-transition>
        </v-card>
      </v-col>
    </v-row>
  </v-container>

  <v-container>
    <v-row>
      <v-col>
        <v-card class="mx-auto" max-width="100%">
          <v-img
            class="align-end text-white"
            height="200"
            src="https://media.istockphoto.com/id/1328368631/photo/ready-for-school-concept-background-with-books-alarm-clock-and-accessory.jpg?b=1&s=170667a&w=0&k=20&c=I1oVAJ9aPkEBHtPEa5GAMvjD_rpzZiaMezHR0peDzfw="
            cover
          >
            <v-card-title>EDUCATION</v-card-title>
          </v-img>

          <v-card-text>
            <v-table>
              <thead>
                <tr>
                  <th class="text-left">SCHOOL LEVEL</th>
                  <th class="text-left">SCHOOL NAME</th>
                  <th class="text-left">TIME LINE</th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="item in schoolList" :key="item.name">
                  <td>{{ item.name }}</td>
                  <td>{{ item.school }}</td>
                  <td>{{ item.timeline }}</td>
                </tr>
              </tbody>
            </v-table>
          </v-card-text>
        </v-card>
      </v-col>
    </v-row>
  </v-container>

  <v-container>
    <v-row>
      <v-col>
        <v-container>
          <v-row justify="space-around">
            <v-card width="100%">
              <v-img
                height="800"
                contain=""
                src="https://cdn.discordapp.com/attachments/900556157624680478/1053802814909972500/ihave3.png"
                cover
                class="text-white"
              >
                <v-toolbar color="rgba(0, 0, 0, 0)" theme="dark">
                  <template v-slot:prepend> </template>

                  <v-toolbar-title class="text-h6"> HOBBY </v-toolbar-title>

                  <template v-slot:append> </template>
                </v-toolbar>
              </v-img>

              <v-card-text>
                <div class="font-weight-bold ml-1 mb-2">SEVER FIVEM</div>

                <v-timeline>
                  <v-timeline-item
                    v-for="message in messages"
                    :key="message.time"
                    :dot-color="message.color"
                    size="x-small"
                  >
                    <div class="mb-4">
                      <div class="font-weight-normal">
                        <strong>{{ message.from }}</strong>
                      </div>
                      <div>
                        <v-img
                          src="https://media.discordapp.net/attachments/1048487132936806500/1048487284980330547/IMG_3635.png?width=591&height=591"
                        ></v-img>
                      </div>
                    </div>
                  </v-timeline-item>
                </v-timeline>
              </v-card-text>
            </v-card>
          </v-row>
        </v-container>
      </v-col>
      <v-col>
        <v-container>
          <v-row justify="space-around">
            <v-card width="100%">
              <v-img
                height="800"
                contain=""
                src="http://images.thaiza.com/166/166_20080910132323..jpg"
                cover
                class="text-white"
              >
                <v-toolbar color="rgba(0, 0, 0, 0)" theme="dark">
                  <template v-slot:prepend> </template>

                  <v-toolbar-title class="text-h6 text-black">
                    MUSIC
                  </v-toolbar-title>

                  <template v-slot:append> </template>
                </v-toolbar>
              </v-img>

              <v-card-text>
                <div class="font-weight-bold ml-1 mb-2">MUSIC</div>

                <v-timeline>
                  <v-timeline-item
                    v-for="message in music"
                    :key="message.time"
                    :dot-color="message.color"
                    size="x-small"
                  >
                    <div class="mb-4">
                      <div class="font-weight-normal">
                        <strong>{{ message.from }}</strong>
                      </div>
                      <div>
                        <v-img
                          src="https://i.ytimg.com/vi/Jd4Hd-HFgls/sddefault.jpg"
                        ></v-img>
                      </div>
                    </div>
                  </v-timeline-item>
                </v-timeline>
              </v-card-text>
            </v-card>
          </v-row>
        </v-container>
      </v-col>
    </v-row>
  </v-container>
</template>
<style scoped>
.text {
  font-size: 20px;
}
</style>
